In [22]:
import pickle
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt

In [23]:
path = '../CPMjs/scripts/2000_0.7log.txt'
f = open(path, 'r')
x = f.readlines()
f.close()

0	208	1	48.333333333333336	22.333333333333332	37.666666666666664

In [28]:
path = '../CPMjs/scripts/2000_0.7log.txt'
cols = ['time','id','cellkind','x','y','z']
#df = pd.read_table(path,index_col = False,names = cols)
#df = pd.read_table(path,sep = '\t',)
data = pd.read_csv(path, sep="\t", header=None,names = cols)

In [29]:
data.head()

   time   id  cellkind          x          y          z
0     0  208         1  48.333333  22.333333  37.666667
1     0  350         1   4.000000  13.000000  48.000000
2     0  355         1  45.666667   8.333333  44.666667
3     0  500         1   7.500000  25.500000  23.000000
4     0  516         1   1.000000  25.000000  22.333333